{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}

<div class="login-splitscreen">
    
    <div class="login-left">
        <div class="login-copy">
            <h1>Bon retour parmi nous ! </h1>
            <p> Des nouveautés vous attendent ! </p>
        </div>
    </div>
    <div class="login-right">
        <form method="post">
        <div class="login-copy">
            <h2> Connexion </h2>
            <div class="login-container">
                <p>Pas de compte ? <a href="{{ path('app_register') }}"> <strong>S'inscrire</strong></a></p>
            </div>
        </div>
        <div class="login-input-container email">
            <label for="inputPassword">Email </label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="login-input-container password">
            <label for="inputPassword">Mot de passe </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

                <i class="fa-solid fa-eye-slash"  onclick="showPassword()" id="password-toggle"></i>
        </div>
        <div class="forget-password">
             <a href="{{path ('app_forgot_password_request')}}"> Mot de passe oublié ? </a>   
        </div>
            <button type="submit" class="login-signup-btn"> Connexion </button>  
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} 
       </form>
    </div>
   
</div>

{% block javascript %}

<script>
    
    function showPassword() {
        var inputPassword = document.getElementById("inputPassword");
        var icon = document.getElementById("password-toggle");
    
        if (inputPassword.type === "password") {
            inputPassword.type = "text";
            // Remplacez la classe pour afficher l'icône "fa-eye"
            icon.classList.remove("fa-solid", "fa-eye-slash");
            icon.classList.add("fa-regular", "fa-eye");
        } else {
            inputPassword.type = "password";
            // Remplacez la classe pour afficher l'icône "fa-eye-slash"
            icon.classList.remove("fa-regular", "fa-eye");
            icon.classList.add("fa-solid", "fa-eye-slash");
        }
    }
</script>
    
{% endblock javascript %}
{% endblock %}
