{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="home">
    <video autoplay loop muted plays-inline class="home-video">
        <source src="{{asset('images/barber-pole.mp4')}}" type="video/mp4">
    </video>

    {% include "layout/_homeNavbar.html.twig" %}

    <div class="header-content">
        <h1>Trouvez le barbier qui vous correspond</h1>
        <a href="{{path ('app_barbershop')}}">Découvrir</a>
    </div>
</div>


<section id="card-section">
    
    <h2 class="title">  Les barbiers de la semaine </h2>

<div class="home-barbershop-card-container">
    
{% if lastBarbershops %}

    {% for barbershop in lastBarbershops %}
            <div class="card-container">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{barbershop.photo}}" alt="Photo de {{barbershop.nom}}">
                    </div>
                    <div class="card-content">
                        <h3> {{barbershop.nom}}</h3>
                        <p>{{barbershop.description|slice(0, 160)}}</p>
                        <a href="{{path ('show_barbershop', {slug : barbershop.slug })}}">Découvrir</a>
                    </div>
                </div>
            </div>
    {% endfor %}

{% else %}

<p> Pas de barbier réçents. </p>

{% endif %}

</div>

</section>

<section id="home-features">
    <h3 class="title"> Simplifiez vous la vie...</h3>
    <div class="features-container">
    
    <div class="features">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="sub-title"> Découvrez les <strong> barbiers </strong>de votre ville </p>
        <p> Redécouvrez l'art du rasage chez les barbiers de votre ville ! Optez pour un style unique grâce à notre carte interactive, avec horaires et détails de chaque salon.</p>
    </div>

    <div class="line"></div>

    <div class="features">
        <i class="fa-regular fa-calendar-check"></i>
        <p class="sub-title"> Reservez un <strong> rendez-vous </strong> vous chez votre barbier préféré </p>
        <p>Facilitez-vous la vie : réservez dès maintenant chez votre barbier préféré en quelques clics grâce à notre système de réservation en ligne rapide et efficace !</p> 
    </div>

    <div class="line"></div>

    <div class="features">
        <i class="fa-solid fa-basket-shopping"></i>
        <p class="sub-title"> Achetez des <strong> produits </strong> professionnels</p>
        <p>Prenez soin de votre style avec les produits professionnels disponibles dans la boutique de chaque barbier. Découvrez une sélection haut de gamme pour sublimer votre quotidien.</p>
    </div>

</div>

</section>

<section id="home-articles">

    <h3 class="title"> Nos derniers articles </h3>
    
    <div class="article-container">

{% if lastArticles %}
    
{% for article in lastArticles %}

<article class="article-card">

    <div class="img-box">
        <a href="{{path ('show_article', {slug : article.slug })}}">
      <img src="{{article.photo}}" alt="Photo de {{article.titre}}" class="article-banner"></a>
    </div>


    <div class="article-content">

      <a href="{{path ('show_article', {slug : article.slug })}}">
        <h3 class="article-title">{{article.titre}}</h3>
      </a>

      <p class="article-text"> {{article.description}}<br><br> <a href="{{path ('show_article', {slug : article.slug })}}"> Lire l'article... </a> </p>

      <div class="acticle-content-footer">

        <div class="author">
        <i class="fa-regular fa-circle-user"></i>

          <div class="author-info">
              <h4 class="author-name">Par {{ article.user is not null ? article.user.pseudo : 'Supprimé' }}</h4>
            <div class="publish-date">{{article.date| format_datetime('short', 'short', locale='fr')}}</div>
          </div>
        </div>   
      </div>

    </div>

  </article>

{% endfor %}


{% else %}

<p> Pas d'articles réçents. </p>

{% endif %}
</div>
</section>

{% endblock %}
