{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="register-splitscreen">
    <div class="register-left">
        <div class="copy">
            <h1>Votre barbier à portée de main. </h1>
            <p> Trouvez le barbier qui vous corresponds. </p>
        </div>
    </div>
    <div class="register-right">
        {{ form_start(registrationForm, {'attr': {'id': 'register-form'}}) }}        
        <div class="copy">
            <h2> Inscription </h2>
            <div class="login-container">
                <p>Déja inscrit ? <a href="{{ path('app_login') }}"> <strong>Se connecter</strong></a></p>
            </div>
        </div>
        <div class="input-container name">
            {{ form_row(registrationForm.pseudo) }}
        </div>
        <div class="input-container email">
            {{ form_row(registrationForm.email) }}
            <p id="email-message"></p>
        </div>
        <div class="input-container password">
            {{ form_row(registrationForm.plainPassword.first, { label: 'Mot de passe' }) }}
            <i class="fa-solid fa-eye-slash"  onclick="showPassword()" id="password-toggle"></i>
            <p id="password-message"></p>
            {{ form_row(registrationForm.plainPassword.second, { label: 'Confirmation' }) }}
        </div>
        <div class="input-container terms">
            <label class="checkbox-container">
            {% block form_row %}
                {{ form_errors(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms) }}
            {% endblock %}
                <span class="checkmark"></span>
                J'accepte les conditions
            </label>
        </div>
            <button type="submit" class="signup-btn"> S'inscrire </button>

            <div class="copy legal">
                <p><span class="small"> En continuant, vous acceptez nos conditions et nos politiques de confidentialités. </span></p>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>

{% block javascript %}

    <script src="{{ asset('js/registerFunctions.js')}}"></script>
    
{% endblock javascript %}

{% endblock %}

