{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<section id="add-rdv-container">

<h1> Votre rendez vous :</h1>

<p><span class="rdv-salon">{{barbershop.nom}} </span> &nbsp;•&nbsp; <i class="fa-solid fa-location-dot"></i> {{barbershop.adresse}}, {{barbershop.ville}}&nbsp;•&nbsp; </p>

<h3> Votre prestation :</h3>

{{barberPrestation.prestation.nom}} &nbsp;•&nbsp; 30min &nbsp;•&nbsp; {{barberPrestation.prix}}€ 

{{ form_start(formAddRendezVous) }}
{% if not app.user.telephone %}
<h3> Vos informations : </h3>

    <div class="add-rdv-info">
        {{ form_row(formAddRendezVous.nom) }} 
        {{ form_row(formAddRendezVous.prenom) }} 
        {{ form_row(formAddRendezVous.telephone) }} 
    </div>

{% endif %}

<h3> Choississez un professionnel : </h3>

<div id="personnel-radio-container">
    {% for personnelCheckbox in formAddRendezVous.personnel %}
    <div class="personnel-radio">
    {{ form_widget(personnelCheckbox) }}
    {{ form_label(personnelCheckbox) }}
    </div>   
    {% endfor %}
</div>



<section id="creneauxContainer">
<div class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
          <div class="splide__list">

          </div>
    </div>
</div>
</section>

{{ form_row(formAddRendezVous.submit) }} 

{{ form_end(formAddRendezVous) }}

</section>


{% block javascript %}

<script src="{{ asset('js/addRdv.js')}}"></script>
 
{% endblock javascript %}

{% endblock %}


