{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<section id="add-rdv-container">

<h1> Votre rendez vous </h1>

Votre réservation : {{prestation.prestation.nom}} chez {{barbershop.nom}}

<h3> Choississez un professionnel : </h3>
{{ form_start(formAddRendezVous) }}

{{ form_row(formAddRendezVous.personnel) }}



<section id="creneauxContainer">
<div class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
          <div class="splide__list">

          </div>
    </div>
</div>
</section>

{{ form_row(formAddRendezVous.submit) }} 

{{ form_end(formAddRendezVous) }}

</section>


{% block javascript %}

<script src="{{ asset('js/addRdv.js')}}"></script>
 
{% endblock javascript %}

{% endblock %}


