{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

<h1> Votre rendez vous </h1>

Votre réservation : {{prestation.prestation.nom}} chez {{barbershop.nom}}

{{ form_start(formAddRendezVous) }}

<p> Date et heure </p>

{{ form_row(formAddRendezVous.debut) }}

<select name="" id="">
{% for personnel in personnels %}
    <option value="{{personnel.id}}">{{personnel.user.pseudo}}</option> 
{% endfor %}
</select>

{{ form_row(formAddRendezVous.personnel) }}

{{ form_end(formAddRendezVous) }}



{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('#rendez_vous_personnel').on('change', function() {
            var selectedValue = $(this).val();
            $('#rendez_vous_personnel').val(selectedValue);
        });
    });
</script>
    
{% endblock javascripts %}
