{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<h1> Votre rendez vous </h1>

Votre réservation : {{prestation.prestation.nom}} chez {{barbershop.nom}}

<p> Choississez un professionnel : </p>
{{ form_start(formAddRendezVous) }}

 {{ form_row(formAddRendezVous.personnel) }} 


<h3>Choississez un jour : </h3>

<table>
    <thead>
      <tr>
        <th>Jour de la semaine</th>
        <th>Créneaux horaires</th>
      </tr>
    </thead>
    <tbody>
      {% for date, creneaux in allCreneaux %}
        <tr>
          <td>{{ date|format_datetime('full', 'none', locale='fr')|capitalize }}</td>
          <td>
            {% for creneau in creneaux %}
            {% set creneauValue = creneau.format('y-m-d H:i:s')  %}
              <button onclick="selectedCreneau('{{creneauValue}}')">{{ creneau.format('H:i') }}</button>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ form_row(formAddRendezVous.submit) }} 

{{ form_end(formAddRendezVous) }}

{% block javascript %}

<script>
    function selectedCreneau(value) {
    event.preventDefault();
      document.getElementById('rendez_vous_debut').value = value;
      console.log( document.getElementById('rendez_vous_debut').value)
    }
  </script>
  
{% endblock javascript %}
{% endblock %}


