{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<h1> Votre rendez vous </h1>

Votre réservation : {{prestation.prestation.nom}} chez {{barbershop.nom}}

<p> Choississez un professionnel : </p>
{{ form_start(formAddRendezVous) }}

 {{ form_row(formAddRendezVous.personnel) }} 


<h3>Choississez un jour : </h3>

{% include "rendezvous/_creneauxbyBarber.html.twig" %}

{{ form_row(formAddRendezVous.submit) }} 

{{ form_end(formAddRendezVous) }}

{% block javascript %}

<script>
    function selectedCreneau(button, value) {
    event.preventDefault();
      document.getElementById('rendez_vous_debut').value = value;
      console.log( document.getElementById('rendez_vous_debut').value)
      
      var allButtons = document.querySelectorAll('button');
    allButtons.forEach(function(btn) {
      btn.classList.remove('clicked-button');
    });
    // Ajouter la classe "clicked-button" au bouton cliqué
    button.classList.add('clicked-button');
    }
</script>
  
{% endblock javascript %}
{% endblock %}


