{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

<h1> Votre rendez vous </h1>

{{ form_start(formAddRendezVous.debut) }}
{{ form_row(formAddRendezVous.fin) }}
{{ form_row(formAddRendezVous.personnel) }}
{{ form_row(formAddRendezVous.barberPrestation) }}


{{ form_end(formAddRendezVous) }}



{% endblock %}
