{% extends 'base.html.twig' %}

{% block title %} Prendre un rendez-vous {% endblock %}

{% block body %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('#personnel').on('change', function() {
            var jour = $(this).val();
            $('#rendez_vous_personnel').val(jour);
            
            console.log($('#rendez_vous_personnel').val());
        });
    });
</script>


    
{% endblock javascripts %}

<h1> Votre rendez vous </h1>

Votre réservation : {{prestation.prestation.nom}} chez {{barbershop.nom}}

{{ form_start(formAddRendezVous) }}

<p> Date et heure </p>

{{ form_row(formAddRendezVous.debut) }}

<p> Choississez un professionnel : </p>

<select name="personnel" id="personnel">
    <option> choisir </option>
{% for personnel in personnels %}
    <option value="{{personnel.id}}">{{personnel.user.pseudo}}</option> 
{% endfor %}
</select>

{{ form_row(formAddRendezVous.personnel) }}

{{ form_end(formAddRendezVous) }}



{% endblock %}


