{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

<h1> Merci ! </h1>
<p>Votre rendez-vous à bien été pris en compte. Vous allez recevoir un email de confirmation. 
Vous pourrez retrouver les détails de votre rendez-vous dans votre espace. </p>

<h2>Votre rendez vous : </h2>

Date : {{lastRDV.debut|date("d/m/Y")}} <br />
Heure : {{lastRDV.debut|date("H:i")}} - {{lastRDV.fin | date("H:i")}} <br />
{% for prestation in lastRDV.barberprestation %}
    Prestation : {{prestation.prestation.nom}} {{prestation.prix}}€ <br />
{% endfor %}

Avec : {{lastRDV.personnel.user.pseudo}}


<p><a href="{{path('app_home')}}">Revenir a l'acceuil</a> - <a href="{{path('app_myspace')}}">Voir mes rendez-vous</a></p>


{% endblock %}