{% extends 'base.html.twig' %}

{% block title %} Carte {% endblock %}


{% block body %}


<div id="map-container">
    <div id="map-details-barber">
        <div class="map-barbershop-container">
            <h1> Explorez les salons </h1>
            {% for barbershop in barbershops %}
                {% for pics in barbershop.barbershopPics %}
                    <article class="map-barbershop-card" data-latitude="{{ barbershop.latitude }}" data-longitude="{{ barbershop.longitude }}" id="barber-card-{{barbershop.id}}">
                        <div class="img-box">
                            <img src="{{asset('assets/uploads/barbershopPics/' ~ pics.nom)}}" alt="" class="article-banner">
                        </div>
                        <div class="article-content">
                            <h3 class="article-title">{{barbershop.nom}}</h3>
                            <p class="article-text"><a href="{{path ('show_barbershop', {id : barbershop.id })}}"> Découvrir</a></p>
                            <div class="acticle-content-footer">
                                <div class="author">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <div class="author-info">
                                        <h4 class="author-name">{{barbershop.adresse}}</h4>
                                        <div class="publish-date">{{barbershop.ville}}</div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
                        
    <div id="map-all-barber"></div>
                    
</div>
                    
                    






{% block javascripts %}

{# Récupération des infos du barber en array JS #}
<script>
    const coordinates = JSON.parse('{{ coordinates | json_encode | raw }}');    
</script>
{# CDN Leaflet #}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{# Marker Cluster #}
<script src="{{ asset('js/MarkerCluster.js')}}"></script>
{# Script affichage leaflet + markercluster #}
<script src="{{ asset('js/mapAllBarber.js')}}"></script>
 
{% endblock %}
{% endblock %}

