<section class="barbershop-cards-container">

    {% if allBarbershops|length > 0 %}

    {% for barbershop in allBarbershops %}
    
    {% for pics in barbershop.barbershopPics %}
      
        <article class="barbershop-card card-template">
            <div class="card-info-hover">
                {% if app.user %}
                    
                <a href="{{ path('like_barbershop', {id: barbershop.id}) }}"  data-action = "like">
                    <i class="fa-regular fa-heart {{ app.user in barbershop.likes ? 'hidden' : '' }}" id="heartUnfilled"></i>
                    <i class="fa-solid fa-heart {{ app.user in barbershop.likes ? '' : 'hidden' }}" id="heartFilled"></i>
                </a>
                {% endif %}
                <p> {{barbershop.description|slice(0, 100)}}... </p>
                    <a href="{{path ('show_barbershop', {id : barbershop.id })}}" class="barbershop-card-link"> Détails </a>
            </div>
    
            <div class="barbershop-card-img"></div>
                <div class="barbershop-card-img-hover">
                    <img src="{{asset('assets/uploads/barbershopPics/' ~ pics.nom)}}" alt="Photo de {{barbershop.nom}}">
                </div>
            <div class="barbershop-card-info">
                {# Si les avis ne sont pas vides, calcul de la moyenne #}
                {% if  barbershop.avis is not empty %}
        
                    {% set sommeNote = 0 %}
    
                    {% for avis in barbershop.avis %}
                        {% set sommeNote = sommeNote + avis.note %}
                    {% endfor %}
    
                    <span class="barbershop-card-note">
    
                    {# Affichage des étoiles #}
                    {% for i in 1..5 %}
                        {% if i <= sommeNote // barbershop.avis|length %}
                            <i class="fa-solid fa-star"></i>
                        {% else %}
                            <i class="fa-regular fa-star"></i>
                        {% endif %}
                    {% endfor %}
                    </span>
                {# Si les avis sont vides #}
                {% else %}
                    <span class="barbershop-card-note"> Donnez votre avis ! </span>
                {% endif %}
                <h3 class="barbershop-card-title">{{barbershop.nom}}</h3>
                <p class="barbershop-card-adress">{{barbershop.adresse}} - {{ barbershop.ville}}</p>

            </div>
        </article>
        
        {% endfor %}
        {% endfor %}
        {% else %}

        <p>Aucun résultat trouvé.</p>
        
        {% endif %}
        
    </section>
    