{% extends 'base.html.twig' %}

{% block title %}Tous les barbiers{% endblock %}

{% block meta_description %} Tous les barbiers {% endblock %}

{% block body %}

<h1 class="title-margin"> Tous les barbiers </h1>
<div id="barbershop-searchbar">
{{ form_start(form) }}
{{form_widget(form.q)}}
{{form_widget(form.sortBy)}}
{{ form_end(form) }}
</div>
<div id="searchResults">
{% include "barbershop/index/_barberCards.html.twig" %}
</div>
{{ knp_pagination_render(allBarbershops) }}

{% block javascripts %}

{# Système de like #}
<script src="{{ asset('js/like.js')}}"></script>

{# Barre de recherche #}
<script src="{{ asset('js/searchHome.js')}}"></script>

{% endblock javascripts %}

{% endblock %}
