{% extends 'base.html.twig' %}

{% block title %}Tous les barbiers{% endblock %}

{% block body %}

<h1 class="title-margin"> Tous les barbiers </h1>
<div id="barbershop-searchbar">
{{ form_start(form) }}
{{form_widget(form.q)}}
{{form_widget(form.sortBy)}}
<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
{{ form_end(form) }}
</div>

{% include "barbershop/index/_barberCards.html.twig" %}

{{ knp_pagination_render(allBarbershops) }}

{% block javascripts %}

<script src="{{ asset('js/like.js')}}"></script>

{% endblock javascripts %}

{% endblock %}
