{% extends 'base.html.twig' %}

{% block title %} Ajouter un employé / manager {% endblock %}

{% block body %}


<h1> Ajouter un Emloyé / Manager </h1>

{{ form_start(formAddPersonnel) }}
{{ form_row(formAddPersonnel.barbershop) }}
{{ form_row(formAddPersonnel.user) }}
{{ form_row(formAddPersonnel.isManager) }}
{{ form_end(formAddPersonnel) }}



{% endblock %}
