{% extends 'base.html.twig' %}

{% block title %} Ajouter un barber {% endblock %}

{% block body %}

{# Changement du titre si 'edit' existe #}
{% if edit %}
<h1> Editer un barbershop </h1>

{% else %}
<h1> Ajouter un barbershop </h1>
{% endif %}

{{ form_start(formAddBarbershop) }}
{{ form_row(formAddBarbershop.nom) }}
{{ form_row(formAddBarbershop.description) }}
{{ form_row(formAddBarbershop.adresse) }}
{{ form_row(formAddBarbershop.cp) }}
{{ form_row(formAddBarbershop.ville) }}


<table class="addHorairesTable">
    <thead>
        <tr>
            <th> Jour </th>
            <th> Ouverture </th>
            <th> Fermeture </th>
        </tr>
    </thead>
    <tbody class="addHorairesTbody">
    </tbody>
</table>

<button type="button" class="add-horaire-button">Ajouter des horaires</button>

{{ form_row(formAddBarbershop.horaires) }}
{{ form_row(formAddBarbershop.telephone) }}
{{ form_row(formAddBarbershop.images) }}
{{ form_row(formAddBarbershop.email) }}
{{ form_row(formAddBarbershop.instagram) }}
{{ form_row(formAddBarbershop.facebook) }}
{{ form_row(formAddBarbershop.submit) }}

{{ form_end(formAddBarbershop) }}

{% block javascripts %}
    
<script src="{{ asset('js/GeoGouv.js')}}"></script>
<script src="{{ asset('js/addHoraires.js')}}"></script>
<script src="{{ asset('js/convertHorairesToJSON.js')}}"></script>

{% if edit %}

<script>

    const editHoraires = JSON.parse('{{ horaires | raw }}');
    console.log(editHoraires)
    
</script>

<script src="{{ asset('js/editBarbershop.js')}}"></script>

{% endif %}

{% endblock %}


{% endblock %}
