{% extends 'base.html.twig' %}

{% block title %} Details {% endblock %}

{% block body %}

<h1> Ajouter un Barbershop </h1>

{{ form_start(formAddBarbershop) }}
{{ form_row(formAddBarbershop.nom) }}
{{ form_row(formAddBarbershop.description) }}
{{ form_row(formAddBarbershop.adresse) }}
{{ form_row(formAddBarbershop.cp) }}
{{ form_row(formAddBarbershop.ville) }}
<button type='button' id='add-opening'> Ajouter des horaires d'ouverture </button>
{{ form_row(formAddBarbershop.horaires) }}
{{ form_row(formAddBarbershop.telephone) }}
{{ form_row(formAddBarbershop.images) }}
{{ form_row(formAddBarbershop.email) }}
{{ form_row(formAddBarbershop.instagram) }}
{{ form_row(formAddBarbershop.facebook) }}
{{ form_row(formAddBarbershop.submit) }}

{{ form_end(formAddBarbershop) }}

{% block javascripts %}
    
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ asset('js/GeoGouv.js')}}"></script>
<script src="{{ asset('js/addHoraires.js')}}"></script>

{% endblock %}


{% endblock %}
