{% extends 'base.html.twig' %}

{% block title %} Ajouter un barber {% endblock %}

{% block body %}

{# Changement du titre si 'edit' existe #}
{% if edit %}
<h1> Editer un barbershop </h1>

{% else %}
<h1> Ajouter un barbershop </h1>
{% endif %}

{# FORMULAIRE #}

{{ form_start(formAddBarbershop) }}
{{ form_row(formAddBarbershop.nom) }}
{{ form_row(formAddBarbershop.description) }}
{{ form_row(formAddBarbershop.adresse) }}
{{ form_row(formAddBarbershop.cp) }}
{{ form_row(formAddBarbershop.ville) }}

{# Tableau des horaires #}

<table class="addHorairesTable">
    <thead>
        <tr>
            <th> Jour </th>
            <th> Ouverture </th>
            <th> Fermeture </th>
        </tr>
    </thead>
    <tbody class="addHorairesTbody">
    </tbody>
</table>
{{ form_row(formAddBarbershop.horaires) }}
{{ form_row(formAddBarbershop.telephone) }}

{# Aperçu de l'image #}

<div>
<img id="image-preview" src="#" alt="Aperçu de l'image choisie" style="display: none;">
</div>

{# Affichage de l'image en mode edit #}

{% if edit %}

{% for pic in barbershop.barbershopPics %}

<div>
<img src="{{ asset('assets/uploads/barbershopPics/barbershop/850x310-' ~ pic.nom) }}" alt="">
<a href="{{ path('delete_photo', {id : pic.id} )}}" data-delete data-token="{{ csrf_token('delete' ~ pic.id) }}"> Supprimer </a>
</div>

{% endfor %}

{% endif %}

{{ form_row(formAddBarbershop.images) }}
{{ form_row(formAddBarbershop.email) }}
{{ form_row(formAddBarbershop.instagram) }}
{{ form_row(formAddBarbershop.facebook) }}
{{ form_row(formAddBarbershop.submit) }}
{{ form_end(formAddBarbershop) }}

{% if edit %}
    
<h2> Prestations </h2>

<p><a href="{{path ('add_prixprestation', {id : barbershop.id })}}"> Ajouter une prestation </a></p>

{% for prestation in barbershop.prixPrestations %}

{{prestation.prestation.nom}}
{{prestation.prix}} 
<a href="{{path ('edit_prixprestation', {barbershop : barbershop.id, prixprestation : prestation.id })}}">Editer</a>
{% endfor %}

{% endif %}

{% block javascripts %}
    
<script src="{{ asset('js/GeoGouv.js')}}"></script>
<script src="{{ asset('js/addHoraires.js')}}"></script>
<script src="{{ asset('js/convertHorairesToJSON.js')}}"></script>
<script src="{{ asset('js/photoPreviewAddBS.js')}}"></script>

{% if edit %}

{# Récupération des horaires #}

<script>

    const editHoraires = JSON.parse('{{ horaires | raw }}');
    
</script>

{# Script remplissage horaires + suppresion image #}

<script src="{{ asset('js/editBarbershop.js')}}"></script>

{% endif %}

{% endblock  javascripts %}

{% endblock body %}
