{% extends 'base.html.twig' %}

{% block title %}Tous les barbiers{% endblock %}

{% block body %}

<h1> Tous les barbiers </h1>

{% if is_granted('ROLE_ADMIN') %}

<p><a href="{{path ('add_barbershop')}}"> Ajouter un barbier </a></p>

{% endif %}

{# Barre de recherche #}

{% for barbershop in allBarbershops %}

<a href="{{path ('show_barbershop', {id : barbershop.id })}}"> {{barbershop.nom}}</a>

{% if is_granted('ROLE_ADMIN') %}
    
<a href="{{path ('edit_barbershop', {id : barbershop.id })}}">Editer</a>
<a href="{{path ('delete_barbershop', {id : barbershop.id })}}">Supprimer</a>

{% endif %}

{% endfor %}

{% endblock %}
