{% extends 'base.html.twig' %}

{% block title %} {{barbershop.nom}} {% endblock %}

{% block body %}

{# Photo du salon #}

<h1> {{barbershop.nom}} </h1>

<h2> Informations </h2>

{{barbershop.description}}

<h3> Horaires </h3>
{% if (horaires[jourActuel]['ouverture'] == 'ferme' ) %}
<i class="fa-solid fa-circle"></i> Fermé actuellement
{% else %}
<i class="fa-solid fa-circle"></i> Ouvert actuellement
{% endif %}
{# Iterer sur les horaires dans un tableau #}
<table>
    <thead>
        <tr>
            <th> Jour </th>
            <th> Ouverture </th>
            <th> Fermeture </th>
        </tr>
    </thead>
    <tbody>
        
        {% for jour in horaires %}
        <tr>
            <td>{{ jour['jour'] }}</td>
            <td>{{ jour['ouverture'] }}</td>
            <td>{{ jour['fermeture'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<h3> Réseaux sociaux </h3>

<a href="{{barbershop.facebook}}"><i class="fa-brands fa-square-facebook"></i></a>
<a href="{{barbershop.instagram}}"><i class="fa-brands fa-instagram"></i></a>

{# Carte leaflet#}

<h3> Prestations </h3>

<h3> Boutique </h3>

<h3> Réalisations </h3>



{% endblock %}
