{% extends 'base.html.twig' %}

{% block title %} {{barbershop.nom}} {% endblock %}

{% block body %}

{# Photo du salon #}

<h1> {{barbershop.nom}} </h1>

<h2> Informations </h2>

{{barbershop.description}}

<h3> Horaires </h3>

{# Iterer sur les horaires dans un tableau #}

<table>
    <thead>
        <tr>
            <th> Jour </th>
            <th> Ouverture </th>
            <th> Fermeture </th>
        </tr>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>



<h3> Réseaux sociaux </h3>

<a href="{{barbershop.facebook}}"><i class="fa-brands fa-square-facebook"></i></a>
<a href="{{barbershop.instagram}}"><i class="fa-brands fa-instagram"></i></a>

{# Carte leaflet#}

<h3> Prestations </h3>

<h3> Boutique </h3>

<h3> Réalisations </h3>



{% endblock %}
