{% extends 'base.html.twig' %}

{% block title %} Ajouter une prestation {% endblock %}

{% block body %}


<section class="admin-pannel">
    {% include "security/admin/_sidebar.html.twig" %}
<div class="admin-pannel-content-prestation">
        
<div class="add-prestation-admin-form">
<h1> Ajouter une prestation </h1>

{{ form_start(formAddPrestation) }}
{{ form_row(formAddPrestation.nom) }}
{{ form_end(formAddPrestation) }}
</div>
<div class="table-prestation-admin">
    <h2> Toutes les prestations </h2>
    <table class="prestation-table" id="responsive-table">
        <thead>
            <tr>
                <th> Nom </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            {% for prestation in prestations %}
            <tr>
        <td data-label = "Nom">{{prestation.nom}}</td>
        <td data-label = "Action"><a href="{{path ('edit_prestation', {id : prestation.id })}}"><i class="fa-regular fa-pen-to-square"></i></a>|
        <a href="{{path ('delete_prestation', {id : prestation.id })}}"><i class="fa-solid fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


</div>
</div>
</section>

{% endblock %}
