{% extends 'base.html.twig' %}

{% block title %} Nous contacter {% endblock %}

{% block body %}


<h1 class="title-margin"> Nous contacter </h1>
{{ form_start(contactForm) }}
<p class="contact-text"> Si vous avez une demande particulière, que vous souhaitez adhérer à nos services ou que vous voulez simplement nous dire bonjour, n'hésitez pas à nous envoyer un message ! </p>


{% if not app.user %}

{{ form_row(contactForm.email) }}
<p id="email-message"></p>
{% endif %}

{{ form_row(contactForm.subject) }}
{{ form_row(contactForm.message) }}
{{ form_row(contactForm.submit) }}
{{ form_end(contactForm) }}


{% block javascript %}

    <script src="{{ asset('js/contactFunctions.js')}}"></script>
    
{% endblock javascript %}

{% endblock %}


