{% extends 'base.html.twig' %}

{% block title %} Administration {% endblock %}

{% block body %}

<h1> Administration </h1>

<h2>Barbershop</h2>

<a href="{{path ('add_barbershop')}}"> Ajouter un barbier </a>

<h2>Article</h2>

<a href="{{path ('add_article')}}"> Ajouter un article </a>
<a href="{{path ('app_article')}}"> Voir les articles </a>

<h2>Prestation </h2>

<p><a href="{{path ('add_prestation')}}"> Ajouter une prestation </a></p>
<p><a href="{{path ('app_prestation')}}"> Voir toutes les prestations </a></p>

<h2> Utilisateurs </h2>

<p><a href="{{path ('admin_users')}}">Voir tous les utilisateurs </a></p>

<h2> Managers / Employés </h2>

<p><a href="{{path ('add_personnel')}}"> Ajouter un employé/babershop</a></p>
<p><a href="{{path ('app_personnel')}}"> Voir tous les managers / employés </a></p>

<h2> Publier / Retirer un barbershop </h2>

<p><a href="{{path ('admin_barbershop')}}"> Voir tous les barbershops </a></p>

{% endblock %}
