{% extends 'base.html.twig' %}

{% block title %} Ajouter un article {% endblock %}

{% block body %}

<h1> Ajouter un article </h1>

{{ form_start(formAddArticle) }}
{{ form_row(formAddArticle.photo) }}
{{ form_row(formAddArticle.titre) }}
{{ form_row(formAddArticle.description) }}
{{ form_row(formAddArticle.texte) }}
{{ form_row(formAddArticle.user) }}
{{ form_end(formAddArticle) }}



{% endblock %}

