{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}

<h1> Tous les articles </h1>

{% if is_granted('ROLE_ADMIN') %}

<div><a href="{{path ('add_article')}}"> Ajouter un article </a></div>

{% endif %}
<div class="article-container">

{% for article in articles %}

<article class="article-card">
    <div class="img-box">
        <a href="{{path ('show_article', {id : article.id })}}">
      <img src="{{article.photo}}" alt="" class="article-banner"></a>
    </div>


    <div class="article-content">

      <a href="{{path ('show_article', {id : article.id })}}">
        <h3 class="article-title">{{article.titre}}</h3>
      </a>

      <p class="article-text">{{article.description}} <br><br> <a href="{{path ('show_article', {id : article.id })}}"> Lire la suite </a></p>

      <div class="acticle-content-footer">

        <div class="author">
        <i class="fa-regular fa-circle-user"></i>

          <div class="author-info">
              <h4 class="author-name">{{article.user.pseudo}}</h4>
            <div class="publish-date">{{article.date| format_datetime('short', 'short', locale='fr')}}</div>
            {% if is_granted('ROLE_ADMIN') %}
    
<a href="{{path ('edit_article', {id : article.id })}}"> Editer </a> |
<a href="{{path ('delete_article', {id : article.id })}}"> Supprimer </a>

{% endif %}
          </div>
        </div>   
      </div>

    </div>
</article>
    




{% endfor %}

</div>

{% endblock %}
