{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}

<h1> Tous les articles </h1>

<a href="{{path ('add_article')}}"> Ajouter un article </a>

{% for article in articles %}
    
<a href="{{path ('show_article', {id : article.id })}}">{{ article.titre}}</a>

<a href="{{path ('edit_article', {id : article.id })}}"> Editer </a>
<a href="{{path ('delete_article', {id : article.id })}}"> Supprimer </a>

{% endfor %}

{% endblock %}
