{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}
<h1 class="title-margin"> Tous les articles </h1>

<div class="article-container">

{% for article in articles %}

<article class="article-card">
    <div class="img-box">
        <a href="{{path ('show_article', {id : article.id })}}">
      <img src="{{article.photo}}" alt="Photo d'illustration de {{article.titre}}" class="article-banner"></a>
    </div>


    <div class="article-content">

      <a href="{{path ('show_article', {id : article.id })}}">
        <h3 class="article-title">{{article.titre}}</h3>
      </a>

      <p class="article-text">{{article.description}} <br><br> <a href="{{path ('show_article', {id : article.id })}}"> Lire la suite </a></p>

      <div class="acticle-content-footer">

        <div class="author">
        <i class="fa-regular fa-circle-user"></i>

          <div class="author-info">
              <h4 class="author-name">{{article.user.pseudo}}</h4>
            <div class="publish-date">{{article.date| format_datetime('short', 'short', locale='fr')}}</div>
          </div>
        </div>   
      </div>

    </div>
</article>
  
{% endfor %}
</div>


{% endblock %}
