<nav id="home-navbar">
    <img src="{{ asset('images/logo.png')}}" class="logo" alt="">
    <ul>
        <li><a href="{{path ('app_home')}}"> ACCUEIL </a></li>
        <li><a href="{{path ('app_barbershop')}}"> BARBIERS </a></li>
        <li><a href="{{path ('app_map')}}"> CARTE </a></li>
        <li><a href="{{path ('app_article')}}"> ARTICLES </a></li>

        {% if app.user %}
        
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{path ('control_pannel')}}"> Administration </a></li>
        {% endif %}
        <li><a href="{{path ('app_myspace')}}"> Mon espace </a></li>
        <li><a href="{{path ('app_logout')}}"> Se deconnecter </a></li>

        

        {% else %}
        <li><a href="{{path ('app_login')}}"> Se connecter </a></li>
        <li><a href="{{path ('app_register')}}"> Inscription </a></li>
        {% endif %}
    </ul>
</nav>