{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}

{% block body %}

<h1> Bienvenue, {{app.user.pseudo}} </h1>

<h2> Mes barbershops préférés </h2>

{% for barbershop in likes %}

{{barbershop.nom}}

{% endfor %}

<h2> Mes rendez-vous à venir </h2>

{% for rdv in upcomingRdvs %}

Le {{rdv.debut|date("l d F à H:i")}} <br>
Avec {{rdv.personnel}}<br>
Chez {{rdv.personnel.barbershop}}<br>

{% for barberPrestation in rdv.barberPrestation %}

Votre prestation : {{barberPrestation.prestation.nom}}<br>
Prix : {{barberPrestation.prix}}€
    
{% endfor %}
<br><br>
{% endfor %}

<h2> Mes rendez-vous passés </h2>

{% for rdv in pastRdvs %}

Le {{rdv.debut|date("l d F à H:i")}} <br>
Avec {{rdv.personnel}}<br>
Chez {{rdv.personnel.barbershop}}<br>

{% for barberPrestation in rdv.barberPrestation %}

Votre prestation : {{barberPrestation.prestation.nom}}<br>
Prix : {{barberPrestation.prix}}€
    
{% endfor %}
<br><br>
{% endfor %}

{% if app.user.personnel %}

<p> Mon salon </p> 
    
{{ app.user.personnel.barbershop.nom }}

{% if app.user.personnel.isManager == true %}

<a href="{{path ('edit_barbershop', {id : app.user.personnel.barbershop.id })}}">Editer</a>
    
{% endif %}

{% endif %}



{% endblock %}