{% extends 'base.html.twig' %}

{% block title %} Mon espace {% endblock %}

{% block body %}

    <h1 class="title-margin"> Bienvenue, {{app.user.pseudo}} </h1>
<section id="myspace">
    <h2 class=""> Mes barbershops préférés </h2>

    {% if likes is not empty %}
        
            {% include "user/_userBarberCards.html.twig" %}

    {% else %}

        <p>Vous n'avez pas encore ajouté de barbershop en favori. </p>

    {% endif %}

    <h2> Mes rendez vous </h2>

    {% if upcomingRdvs is empty and pastRdvs is empty %}
        
    <p> Vous n'avez pas encore de rendez-vous </p>

    {% endif %}
    {% if upcomingRdvs is not empty %}
    <h3> Mes rendez-vous à venir </h3>
    <div class="rdv-container">
    
    {% for rdv in upcomingRdvs %}
    <div class="myspace-rdv">

        <p class="rdv-hour"><i class="fa-regular fa-calendar"></i> {{rdv.debut | format_datetime('medium', 'short', locale='fr') | capitalize}}</p> <br>
        <i class="fa-regular fa-user"></i> Barbier : {{rdv.personnel}}<br>
        <i class="fa-solid fa-shop"></i> Salon : {{rdv.personnel.barbershop}}<br>

            {% for barberPrestation in rdv.barberPrestation %}

            <i class="fa-solid fa-scissors"></i> Prestation : {{barberPrestation.prestation.nom}}<br>
            <i class="fa-solid fa-money-bill"></i> Prix : {{barberPrestation.prix}}€
            
            {% endfor %}
            <br><br>
                <a href="{{path ('delete_rdv', {id : rdv.id })}}" class="delete-rdv-button"> Annuler </a>
        </div>
        {% endfor %}

    {% endif %}
</div>
    {% if pastRdvs is not empty %}

        <h3> Mes rendez-vous passés </h3>
        <div class="rdv-container">

        {% for rdv in pastRdvs %}
        <div class="myspace-rdv">
        <p class="rdv-hour"><i class="fa-regular fa-calendar"></i> {{rdv.debut | format_datetime('medium', 'short', locale='fr')}} </p><br>
        <i class="fa-regular fa-user"></i> Barbier :  {{rdv.personnel}}<br>
        <i class="fa-solid fa-shop"></i> Salon : {{rdv.personnel.barbershop}}<br>

            {% for barberPrestation in rdv.barberPrestation %}

            <i class="fa-solid fa-scissors"></i> Votre prestation : {{barberPrestation.prestation.nom}}<br>
            <i class="fa-solid fa-money-bill"></i> Prix : {{barberPrestation.prix}}€
                
            {% endfor %}
            <br><br>
        </div>
        {% endfor %}
</div>
    {% endif %}

    {% if app.user.personnel and  app.user.personnel.isManager == false and is_granted('ROLE_BARBER') %}
        <h2> Mon salon </h2> 

            <p>{{ app.user.personnel.barbershop.nom }} | {{ app.user.personnel.barbershop.adresse}}</p>

            <a href="{{path ('app_myrdv')}}" class="manage-barber-link"> Voir mon planning </a>

    {% endif %}

    {% if app.user.personnel and app.user.personnel.isManager == true and is_granted('ROLE_BARBER') %}

        <h2> Mon salon </h2> 

        <p>{{ app.user.personnel.barbershop.nom }} | {{ app.user.personnel.barbershop.adresse}}</p>

        <a href="{{path ('manage_barbershop')}}" class="manage-barber-link"> Gérer mon salon </a>

        {% endif %}

        <h2> Gérer mon compte </h2>

    <div class="manage-account-links">

    <p><a href="{{path ('manage_account')}}"> Modifier mes informations </a></p>

    <p><a href="{{path ('delete_account')}}" id="delete-account-link"> Supprimer mon compte </a></p>

    </div>

</section>

{% block javascripts %}

<script src="{{ asset('js/like.js')}}"></script>

{# AFFICHER UNE ALERTE A LA SUPPRESION DU COMPTE #}

<script>

    $('#delete-account-link').click(function() {
    event.preventDefault()
    Swal.fire({
        title: "Êtes-vous sûr ?",
        color: "#000000",
        text: "Vous ne pourrez pas revenir en arrière.",
        icon: 'warning',
        iconColor: '#E66F64',
        showCancelButton: true,
        confirmButtonColor: '#F5F3F2',
        cancelButtonColor: '#000000',
        cancelButtonText: '<span style="color: white;">Annuler</span>',
        confirmButtonText: '<span style="color: black;">Confirm</span>',
      }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: 'Supprimé !',
                text: 'Votre compte à bien été supprimé.',
                icon: 'success',
                showConfirmButton: false,
                
            });
          setTimeout(function() {
            window.location.href = $('#delete-account-link').attr('href');
        }, 2000);
        }
      })
    });
    
</script>

{% endblock javascripts %}
{% endblock %}

