{% extends 'base.html.twig' %}

{% block title %} {{barbershop.nom}} {% endblock %}

{% block body %}

{# Photo du salon #}

{% include "components/_like.html.twig" %}

<h1> {{barbershop.nom}} </h1>

<h2> Informations </h2>

{{barbershop.description}}

<h3> Adresse </h3>

{{barbershop.fullAdress}}

<h3> Horaires </h3>

{% include "barbershop/show/_horaires.html.twig" %}

<h3> Réseaux sociaux </h3>

<a href="{{barbershop.facebook}}"><i class="fa-brands fa-square-facebook"></i></a>
<a href="{{barbershop.instagram}}"><i class="fa-brands fa-instagram"></i></a>

<div id="map-barber"></div>

<h3> Avis </h3>

{% include "barbershop/show/_avis.html.twig" %}

<h3> Prestations </h3>

<h3> Boutique </h3>

<h3> Réalisations </h3>

{# SCRIPTS #}

{% block javascripts %}

{# Définition coordinates pour Leaflet #}
<script> const coordinates = JSON.parse('{{ coordinates | json_encode | raw }}'); </script>
{# Leaflet #}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{# Marker Cluster #}
<script src="{{ asset('js/MarkerCluster.js')}}"></script>
{# Script affichage leaflet + markercluster #}
<script src="{{ asset('js/mapShowBarber.js')}}"></script>

{% endblock %}

{% endblock %}
