{% extends 'base.html.twig' %}

{% block title %} {{barbershop.nom}} {% endblock %}

{% block body %}
{# Photo du salon #}
<section id="show-barbershop-header">
    <div class="barbershop-image-title-container">
        <img src="https://www.armandeus.com/wp-content/uploads/2021/10/AdobeStock_231110781.jpeg" alt="">
        <h1> {{barbershop.nom}} </h1>
    </div>
</section>

<section id="show-barbershop-section">

<div class="like-adresse-barber">
    <div>
        {% include "components/_like.html.twig" %}
    </div>
    <div>
        <p><i class="fa-solid fa-location-dot"></i> {{barbershop.adresse}} |
            {{barbershop.cp}} |
            {{barbershop.ville}}
        </p>
    </div>
</div>

<section id="show-barber-info-container">

<div class="show-barbershop-info">
    <h2> Informations </h2>
    
    {{barbershop.description}}
    
    <h3> Horaires </h3>
    
    {% include "barbershop/show/_horaires.html.twig" %}
    <div class="barbershop-socials">
        <h3> Réseaux sociaux </h3>
        
        <a href="{{barbershop.facebook}}"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="{{barbershop.instagram}}"><i class="fa-brands fa-instagram"></i></a>
    </div>
</div>

<div id="map-barber"></div>

</section>

<h3> Avis </h3>

{% include "barbershop/show/_avis.html.twig" %}

<h3> Prestations </h3>

{% include "barbershop/show/_prestations.html.twig" %}

<h3> Boutique </h3>

<h3> Réalisations </h3>

</section>

{# SCRIPTS #}

{% block javascripts %}

{# Définition coordinates pour Leaflet #}
<script> const coordinates = JSON.parse('{{ coordinates | json_encode | raw }}'); </script>
{# Leaflet #}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{# Marker Cluster #}
<script src="{{ asset('js/MarkerCluster.js')}}"></script>
{# Script affichage leaflet + markercluster #}
<script src="{{ asset('js/mapShowBarber.js')}}"></script>

{% endblock %}

{% endblock %}
